<html>
    <head>
        <title>Tomcar Example</title>

        <link rel="stylesheet" href="css/main.css" type="text/css" data-for="result">

        <script type="text/javascript" src="./js/vue.min.js"></script>
        <script type="text/javascript" src="./js/require.js"></script>
        <script type="text/javascript" src="./js/map.js"></script>
        <script type="text/javascript" src="./js/tomcar.js"></script>

        <script type="text/javascript">

            window.onload=function () {

                // requirejs 配置
                require.config({
                    paths:{
                    'vue':'./js/vue.min',
                    }
                });
            
                // 画布配置
                const width = 500;
                const height = 500;

                let mainCanvas=document.getElementById('main-canvas');
                let gd=mainCanvas.getContext('2d'); //图形上下文——绘图接口

                // 设置监听器
                let lastX,lastY;
                mainCanvas.onmousedown=function (ev) {
            
                    lastX=ev.offsetX;
                    lastY=ev.offsetY;
                
                    mainCanvas.onmousemove=function (ev) {
                        gd.beginPath();//清除之前所有的路径
                            
                        gd.moveTo(lastX,lastY);
                        gd.lineTo(ev.offsetX,ev.offsetY);
                    
                        lastX=ev.offsetX;
                        lastY=ev.offsetY;
                    
                        gd.strokeStyle="red";//用获取到的颜色作为绘制颜色
                        gd.stroke();
                
                    }

                    mainCanvas.onmouseup=function () {
                        mainCanvas.onmousemove=null;
                        mainCanvas.onmouseup=null;
                    } 
                }

                // 绘制默认地图
                DrawDefaultMap(mainCanvas);
            }

        </script>

    </head>
    <body>
        
        <div id = "buttons">
            <button id = "run-button" onclick="TomcarRun()">启动</button>
            <button id = "pause-button" onclick="Pause()">暂停</button>
            <button id = "stop-button" onclick="Stop()">停止</button>
            <button id = "clear-button" onclick="ClearMap()">清理地图</button>
            <button id = "reset-button" onclick="Reset()">重置</button>
        </div>

        <div id = "options">
            数量:
            <input v-model="total" placeholder="total">
            出发点:
            <input v-model="car_x" placeholder="location x">
            <input v-model="car_y" placeholder="location y">
        </div>

        <div id = "tomcar">
            <!-- <input type="color" id="color1" /><br/> -->
            <canvas id="main-canvas" width="500" height="500"></canvas>
            <div id="car-starting-point" v-bind:style="{top:car_y + 'px',left:car_x + 'px'}"></div>
        </div>

        <div id = "ranking-list" height="500" width="200">

        </div>

        <script type="text/javascript">

            let options;
            let data = {
                // 数量绑定
                total: 100,
                // 初始位置输入框数据绑定
                car_x: 65,
                car_y: 60,
            };

            require(['vue'],function(Vue){

                options = new Vue({
                    el: '#options',
                    data: data,
                });

                new Vue({
                    el: '#car-starting-point',
                    data: data,
                });

            });

            // 获取canvas 
            var canvas = document.getElementById('main-canvas');
            var gd = canvas.getContext('2d');

            // 按钮
            var runButtton = document.getElementById("run-button");
            var clearButtton = document.getElementById("clear-button");
            var pauseButtton = document.getElementById("pause-button");
            var stopButtton = document.getElementById("stop-button");

            pauseButtton.disabled = true;
            stopButtton.disabled = true;

            // 构建控制器
            var controller;
            require(['tomcar','factory'],function(TomcarController,factory){
                var workflow = factory.GetGAWorkFlow(canvas,Number(data.total),Number(data.car_x),Number(data.car_y),10,0);
                controller = new TomcarController.default(workflow);
            });

            // 运行按钮
            function TomcarRun() {

                controller.Begin();

                // 按钮管理  
                runButtton.disabled = true;
                clearButtton.disabled = true;
                pauseButtton.disabled = false;
                stopButtton.disabled = false;

                // 出发点
                var carStartingPoint = document.getElementById('car-starting-point');
                carStartingPoint.hidden = true;

            }

            function ClearMap() {
                var gd = canvas.getContext('2d');
                gd.clearRect(0,0,canvas.width,canvas.height);
            }

            function Pause() {
                if(!controller.pauseFlag) {
                    controller.Pause();
                    pauseButtton.innerText = "开始";
                } else {
                    controller.Start();
                    pauseButtton.innerText = "暂停";
                }
            }

            function Stop() {

                controller.Stop();

                // 清理全图
                gd.clearRect(0,0,500,500);

                // 绘制默认地图
                DrawDefaultMap(canvas);
                
                // 按钮管理                
                runButtton.disabled = false;
                clearButtton.disabled = false;
                pauseButtton.disabled = true;
                pauseButtton.innerText = "暂停";
                stopButtton.disabled = true;
                
                // 出发点
                var carStartingPoint = document.getElementById('car-starting-point');
                carStartingPoint.hidden = false;
            }

            function Reset() {
                location.reload();
            }
        </script>

    </body>
</html>